/* Colors */
:root {
    --blue: rgba(84, 146, 205, 255);
    --white-transparent: rgba(255, 255, 255, 0.95);
    --background: #f1f1f1;
}

/* Global Styles */
html {
    scroll-behavior: smooth;
    background-color: var(--blue);
    padding: 150px 50px 0 50px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
    background-color: var(--background);
    padding-left: 20px;
    padding-right: 20px;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-transparent);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
    flex-grow: 1;
    font-size: 24px;
}

.header-button {
    margin-left: 20px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.header-button:hover {
    text-decoration: underline;
}

/* Main Content */
.main-content {
    margin-top: 60px;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--blue);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-title {
    flex-grow: 1;
    font-size: 24px;
}

.footer-button {
    margin-left: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.footer-button:hover {
    text-decoration: underline;
}
